#calendar {
  width: 400px;
  height: 250px;
  border-collapse: collapse;
  font-size: 10px;
  font-family: Helvetica, Arial, sans;
  background-color: white;
}

#calendar tbody td {
  border: 1px solid black;
  text-align: right;
  vertical-align: top;
  width: 14%;
}

#calendar td.empty {
  border: none;
}